li {
    list-style: none;
}

ul {
    color: blue;
}

ol {
    background-color: yellow;
}

hr {
    font-weight: bold;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif
}